html(ng-app="TestApp")
    head
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js")
    body(ng-controller="MainController as vm")
        small {{ vm.message }}
        script(src="/assets/js/app.js")